@import url(//fonts.googleapis.com/css?family=Muli);

/* messages */
ul.messages {
    margin:0 0px;
    float: left;
    padding-top:0px;
    padding-left:0px;
    list-style-type:
    border:  10px solid white;
    none;
}
ul.messages li.success,
ul.messages li.warning,
ul.messages li.error,
ul.messages li.info {
    margin:0;
    padding:14px 80px;
    list-style:none;
    color:#fff;
}

ul.messages li.success { background:#24221c; padding-left:10px; }
ul.messages li.success a { color:#0ac33e;}

ul.messages li.error { background:#a30029; color:#e9828e; }
ul.messages li.error a { color:#e9828e; }

ul.messages li.info { background:#faffae; color:#696b4e; }
ul.messages li.info a { color:#1586de; }

ul.messages li.warning { background:#de9404; }
ul.messages li.warning a { color:#f49000; }

ul.messages li a.close {
    margin:0;
    float:right;
    opacity:1;
    border:0;
    box-shadow:none;
    text-shadow:none;
}

.container{
    padding:1%;
}
.container .img{
    text-align:center;
}
.container .details{
    border-left:3px solid #ded4da;
}
.container .details p{
    font-size:15px;
    font-weight:bold;
}

.container .details small{
    font-size:12px;
    font-weight:bold;
    color: black;
}