{% extends "akun/base.html" %}
{% block body_block %}

  <video class="bg-video" playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop"><source src="/media/mp4/bg.mp4" type="video/mp4" /></video>
  <div class="masthead">
    <div class="masthead-content text-white">
      <div class="container-fluid px-4 px-lg-0">
        <h1 class="fst-italic lh-1 mb-4">welcome to the Coffee Shop </h1>
        <p class="mb-5">Cafe Shop adalah sebuah aplikasi web yang menyediakan menu minuman coffe dingin atau panas untuk para pembeli</p>
      </div>
    </div>
  </div>
{% endblock %}
